/* css/login-page.css */
@import url(main.css);

#login-view-wrapper{
  display: none;
}

#login-view-wrapper.active{
  background-color: var(--wrapper-color);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#login-field-container{
  background-color: var(--container-bg-light);
  max-width: 400px;
  height: 500px;
  width: 95%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-heading::before {
  content: "< ";
}

.main-heading::after {
  content: " />"
}

#login-form{
  width: 100%;
  padding-inline: 2em;
  position: relative;
}

#login-btn{
  display: block;
  margin-inline: auto;
  color: white;
  font-weight: 600;
  min-width: 90%;
  padding: 1em;
  font-size: 1.1em;

  &:hover{
    color: var(--dark-color);
  }
}

#login-form input{
  display: block;
  margin-block: 1.5em;
  border-radius: 1.3em;
  border: 1px solid var(--dark-color);
  outline: 1px solid var(--dark-color);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 1.3em;
  padding-right: 3em;  
}
#login-form input:nth-child(2){
  margin-bottom: 2em;
}
#login-form input:nth-child(1) {
  margin-top: -1em;
}

#login-form input::placeholder{
  font-size: 1rem;
}

.fa-envelope, .fa-lock{
  position: absolute;
  right: 13%;
  color: var(--dark-color);
}

.fa-envelope{
  top: 2%;
}

.fa-lock{
  top: 40%;
}

.form-extras{
  display: flex;
  justify-content: space-between;
  margin-top: -1.5em;
  gap: 3.5em;
  color: var(--dark-color);
}

.form-extras .remember-me-container input, .form-extras .remember-me-container label{
  cursor: pointer;
}

.remember-me-container{
  accent-color: var(--dark-color);
}

.form-extras .forgot-password{
  text-decoration: underline;
  cursor: pointer;

  &:hover{
    opacity: 0.9;
  }
}

.social-login-title{
  margin-top: -1em;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2em 1.9em;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}